*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    outline: 1px solid red;
}

header{
    background-color: #f9f9fc;
}

main{
    background: linear-gradient(180deg, #B5B6F2 0%, #EFEFFF 100%);
}

footer{
    background-color: #1F1F1F;
}

.container{
    margin: 0px 50px;
    display: flex;
}

.container > .header_item{
    display: flex;
    padding: 20px 20px 20px 0;
    align-items: center;
}

.container > .container_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}